section#main {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  background-image: url("../img/bg.png");
  background-repeat: repeat-x;
}

section#main div#flying {
  position: absolute;
  left: 150px;
  width: 20px;
  height: 20px;
  background-color: #BBDDCC;
}
